SECRET_KEY=your_secret_key_here
DEBUG=True
DB_NAME=travel_db
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=localhost  
DB_PORT=5432  
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_PORT=587
EMAIL_FAIL_SILENTLY=False
FRONTEND_URL=http://localhost:5173
OPENWEATHER_API_KEY=your_openweather_key_here
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/
EXCHANGERATE_API_KEY=your_exchange_key_here
EXCHANGERATE_BASE_URL=https://api.exchangerate.host
WIKIPEDIA_BASE_URL=https://en.wikipedia.org/api/rest_v1/page/summary
