@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import "tailwindcss";

:root {
	--color-primary: #4A1158;
	--color-text-muted: #4C4C4C;
	font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
}