@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import "tailwindcss";

:root {
	--color-purple: #4a1158;
	--color-purple-hover: #1a041f;
	--color-text-muted: #4c4c4c;
	--color-bg: #f0edf2;
	--color-bg-main: #f6f0fa;
	font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* slick-dots custom styling color */
.slick-dots li button:before {
	color: var(--color-purple) !important;

	font-size: 12px;
}

.slick-dots li.slick-active button:before {
	color: var(--color-purple) !important;
}
