@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import "tailwindcss";

:root {
	--color-primary: #6b207e;
	--color-primary-hover: #1a041f;
	--color-text: #12142d;
	--color-text-btn: #d6ddff;
	--color-bg-nav-footer: #f0edf2;
	--color-bg-main: #ffffff;

	--color-red: #d94e51;
	--color-blue: #466be9;

	--font-sans: "Raleway", system-ui, sans-serif;
}

.dark {
	--color-primary: #cdacf5;
	--color-primary-hover: #be91ee;
	--color-text: #d6ddff;
	--color-text-btn: #12142d;
	--color-bg-nav-footer: #1b132b;
	--color-bg-main: #110c1c;

	--color-red: #ff6b6b;
	--color-blue: #7ba4ff;
}

html,
body {
	background-color: var(--color-bg-main);
	min-height: 100vh;
	margin: 0;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

@utility btn-primary {
	@apply bg-(--color-primary) 
         text-(--color-text-btn) 
         rounded-full 
         font-semibold 
         transition-all 
         duration-300 
         ease-in-out
         hover:bg-(--color-primary-hover) 
         hover:scale-105 
         active:scale-95
         shadow-lg
         inline-block 
         px-6 py-3 
         text-sm sm:text-lg 
         text-center 
         cursor-pointer;
}

/* slider custom styles */
.slick-dots {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
	width: 100%;
}

.slick-dots li button:before {
	display: none !important;
}

.slick-dots li {
	width: 12px;
	height: 12px;
	margin: 0 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li button {
	width: 10px;
	height: 10px;
	padding: 0;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: var(--color-primary) !important;
	opacity: 0.25;
	font-size: 0;
	color: transparent;
	transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
	opacity: 1;
	transform: scale(1.3);
}
